.todo{
    width: 20%;
    box-sizing: border-box;
    background-color: lightblue;
    padding: .75em;
    margin: 1em;
    border-radius: .5em;
    cursor: pointer;
}

.todo h2{
    margin: 0px;
}

.todo p{
    margin: 0px;
}

.completed{
    opacity: 35%;
    background-color: lightgreen;
    text-decoration: line-through;
}

#complete-items{
    border: .2em solid blue;
}

#incomplete-items{
    border: .2em solid green;
    margin-bottom: 1em;
}